{% extends "base.html" %}
{% block content %}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">CSV Table</h3>

        <div class="paginator">
            {% if all_data.has_previous %}
            <a href="?page=1">in start</a>
            <a href="?page={{ all_data.previous_page_number }}">previous</a>
            {% endif %}
            {% for num in all_data.paginator.page_range %}
            {% if all_data.number == num %}
            <strong>{{ num }}</strong>
            {% elif num > all_data.number|add:'-2' and num < all_data.number|add:'2' %}
            {{num}}
            {% endif %}
            {% endfor %}
            {% if all_data.has_next%}
            <a href="?page={{ all_data.next_page_number }}">Next</a>
            <a href="?page={{ all_data.paginator.num_pages }}">more</a>
            {% endif %}
        </div>
        <p>Choose the page would you like to see</p>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table id="table" class="display" style="width: 100%;">
            <thead>
            <th>id</th>
            <th>supplier_code</th>
            <th>supplier_stock_level</th>
            <th>supplier_backorder_eta</th>
            <th>MSKU</th>
            <th>ASIN</th>
            <th>UPC</th>
            <th>MPN</th>
            <th>supplier_map_price</th>
            <th>adjusted_supplier_unit_price</th>
            <th>supplier_unit_price</th>
            <th>supplier_pack_size</th>
            <th>supplier_sold_by_increments</th>
            <th>supplier_case_size</th>
            <th>supplier_notes</th>
            <th>supplier_item_description</th>
            <th>supplier_unit_shipping_weight_in_pounds</th>
            <th>supplier_status_code</th>
            <th>misc1</th>
            <th>misc2</th>
            <th>misc3</th>
            <th>misc4</th>
            <th>misc5</th>
            <th>supplier_sku</th>
            <th>supplier_upcharge_pct</th>
            <th>supplier_backorder_qty</th>
            <th>brand</th>
            <th>MSRP</th>
            <th>updated_at</th>
            <th>supplier_id</th>
            <th>uploaded_at</th>
            <th>case_upc</th>
            <th>category_code</th>
            <th>shelf_life</th>
            </thead>
            <tbody>

            {% for data in all_data %}
            <tr>

                <td class="label label-warning" href={{item.path}}>{{ data.id }}</td>
                <td>{{ data.supplier_code }}</td>
                {% if data.supplier_code == "have to be number!" %}
                <td class="label label-danger">{{ data.supplier_stock_level }}</td>
                {% else %}
                <td>{{ data.supplier_stock_level }}</td>
                {% endif %}


                <td>{{ data.supplier_backorder_eta }}</td>
                <td>{{ data.MSKU }}</td>
                <td>{{ data.ASIN }}</td>
                <td>{{ data.UPC }}</td>
                <td>{{ data.MPN }}</td>
                <td>{{ data.supplier_map_price }}</td>
                <td>{{ data.adjusted_supplier_unit_price }}</td>
                <td>{{ data.supplier_unit_price }}</td>
                <td>{{ data.supplier_pack_size }}</td>
                <td>{{ data.supplier_sold_by_increments }}</td>
                <td>{{ data.supplier_case_size }}</td>
                <td>{{ data.supplier_notes }}</td>
                <td>{{ data.supplier_item_description }}</td>
                <td>{{ data.supplier_unit_shipping_weight_in_pounds }}</td>
                <td>{{ data.supplier_status_code }}</td>
                <td>{{ data.misc1 }}</td>
                <td>{{ data.misc2 }}</td>
                <td>{{ data.misc3 }}</td>
                <td>{{ data.misc4 }}</td>
                <td>{{ data.misc5 }}</td>
                <td>{{ data.supplier_sku }}</td>
                <td>{{ data.supplier_upcharge_pct }}</td>
                <td>{{ data.supplier_backorder_qty }}</td>
                <td>{{ data.brand }}</td>
                <td>{{ data.MSRP }}</td>
                <td>{{ data.updated_at }}</td>
                <td>{{ data.supplier_id }}</td>
                <td>{{ data.uploaded_at }}</td>
                <td>{{ data.case_upc }}</td>
                <td>{{ data.category_code }}</td>
                <td>{{ data.shelf_life }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock content %}