{% extends "base.html" %}
{% block content %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Excel Table</h3>

       <div class="paginator">
            {% if all_data.has_previous %}
            <a href="?page=1">in start</a>
            <a href="?page={{ all_data.previous_page_number }}">previous</a>
            {% endif %}
            {% for num in all_data.paginator.page_range %}
            {% if all_data.number == num %}
            <strong>{{ num }}</strong>
            {% elif num > all_data.number|add:'-2' and num < all_data.number|add:'2' %}
            {{num}}
            {% endif %}
            {% endfor %}
            {% if all_data.has_next%}
            <a href="?page={{ all_data.next_page_number }}">Next</a>
            <a href="?page={{ all_data.paginator.num_pages }}">more</a>
            {% endif %}
        </div>
        <p>Choose the page would you like to see</p>
    </div>
    <div class="box-body table-responsive no-padding ">
        <table id="table" class="display" style="width: 100%">
            <thead>
            <th>Item id</th>
            <th>Price</th>
            <th>Count</th>
            </thead>
            <tbody>
            {% for data in all_data %}
                <tr>
                    <td href="{{item.path}}">{{ data.product_id }}</td>
                    <td >{{ data.price }}</td>
                    <td >{{data.count}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}