{% extends "base.html" %}
{% load crispy_forms_tags%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <div class="field">
        {{ form.user_id.errors }}
        {{ form.user_id|as_crispy_field }}
    </div>
    {% csrf_token %}
    <button class="custom-button" type="submit">Send</button>
</form>
{% endblock content %}