{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <label>Update file:</label>
    <input type="file" name="update_file"/>
    <button class="custom-button">Submit</button>
</form>
    {% endblock content %}